body {
    background: #31364E;
}

.caja2 {
    width: auto;
    height: 478px;
    left: calc(50% - 1200px/2);
    top: 950px;
    background: #23AEAE;
    padding: 0, 5em;
    margin: 1em;
    border-radius: 1EM;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

.seccion3d1 {
    height: 90%;
    width: 50%;
    border-radius: 1em;
    margin: 1em;
    -webkit-order: 1;
    order: 1;
}

.seccion3d2 {
    height: 90%;
    width: 50%;
    float: left;
    border-radius: 1em;
    margin: 1em;
    -webkit-order: 2;
    order: 2;
}

.i3d {
    margin: 1em;
    width: 300px;
    height: 150px;
    padding-left: center;
}

.titulo3d {
    width: auto;
    height: auto;
    display: grid;
    margin: 1em;
    padding-left: 4rem;
}

.cubolo {
    width: auto;
    height: 10%;
    left: calc(50% - 1200px/2);
    top: 950px;
    padding: 0, 5em;
    border-radius: 1EM;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

.seccion4d1 {
    height: 90%;
    width: 50%;
    border-radius: 1em;
    margin: 1em;
    -webkit-order: 1;
    order: 1;
}

.seccion4d2 {
    height: 90%;
    width: 50%;
    float: left;
    border-radius: 1em;
    margin: 1em;
    -webkit-order: 2;
    order: 2;
}

.trill {
    width: auto;
    height: auto;
    display: grid;
    margin: 1em;
}

.trill2 {
    width: auto;
    height: auto;
    display: grid;
    margin: 1em;
}

.boton3d1 {
    font-family: Comic Sans, Comic Sans MS, cursive;
    margin-right: auto;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

.boton3d1:hover {
    color: #1883ba;
    background-color: #ffffff;
}

.textos2 {
    font-family: Comic Sans, Comic Sans MS, cursive;
    width: 50%;
    margin-left: 20%;
    margin-right: auto;
    /* IMPORTANTE */
    text-align: center;
}

.imagen_tri2 {
    width: 115%;
    text-align: center;
}

.txtcaja3d {
    width: auto;
    font-family: Comic Sans, Comic Sans MS, cursive;
    background: #f7f5f5;
    font-weight: bold;
    padding: 12px;
    border-left: 8px solid #ff0080;
    width: 14rem;
}

.result3d {
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-weight: 1000;
    font-size: 80%;
    /* IMPORTANTE */
    text-align: center;
}